.background {

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxDVes3IuPSG-kUrhojfqc-WWzU6MIgr1Ipg&usqp=CAU");
  background-repeat: no-repeat;
  table-layout: fixed;
  border-spacing: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgb(255, 215, 105);
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(0, 67, 250);
}

.wall {
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTa1j25i0W9Sf-Ix6hxTGasx2rjtI46BTMfg&usqp=CAU");
  

  }

.actor {
  position: absolute;
}

.coin {
 background: rgb(251, 255, 0);
 
}

.player {
  background: rgb(66, 28, 0);
}


.game {
  overflow: hidden;
  position: relative;
  background-size: cover;
}

.lost .player {
  background: rgb(160, 52, 52);
}

.won .player {
  box-shadow: -4px -7px 8px rgb(255, 238, 0), 4px -7px 8px rgb(255, 238, 0);
}
.head, h2{
  align-items: center;
  text-align:center;
  
}